<section class="about">
  <div class="container about__container sect-padding">
    <div class="about__block">
      <div class="about__block--1">
        <h2 class="about__title">Онлайн</h2>
        <span class="about__text">в удобное время</span>
      </div>
      <div class="about__block--2">
        <h2 class="about__title">5 работ</h2>
        <span class="about__text">в портфолио</span>
      </div>
      <div class="about__block--3">
        <h2 class="about__title">Длительность</h2>
        <span class="about__text">8 недель</span>
      </div>
      <div class="about__block--4">
        <h2 class="about__title">Проект</h2>
        <span class="about__text">с реальным заказчиком</span>
      </div>
    </div>
  </div>
</section>
