<section class="foryou">
  <div class="container foryou__container sect-padding">
    <h2 class="foryou__title">Кому подойдет обучение</h2>
    <div class="foryou__list">
      <div class="foryou__item">
        <h3 class="foryou__item--title">
          Всем, кто хочем облегчить свою работу
        </h3>
        <p class="foryou__item--text">
          Excel или Google Sheets помогут эффективнее решать любые задачи,
          связанные с расчётами, анализом данных и планированием
        </p>
      </div>
      <div class="foryou__item">
        <h3 class="foryou__item--title">Начинающим аналитикам</h3>
        <p class="foryou__item--text">
          В небольших компаниях часто используют Excel — поэтому начинающим
          аналитикам не помешает его знать
        </p>
      </div>
      <div class="foryou__item">
        <h3 class="foryou__item--title">Маркетологам</h3>
        <p class="foryou__item--text">
          Чтобы вести бюджет затрат на маркетинг, анализировать ключевые слова
          для SEO, показатели площадок, динамику продаж и другие характеристики
          по каждому товару
        </p>
      </div>
      <div class="foryou__item">
        <h3 class="foryou__item--title">Предпринимателям</h3>
        <p class="foryou__item--text">
          Сможете вести бюджет на создание продукта, рассчитывать финансовую
          модель, анализировать рынок, продумывать эксперименты
        </p>
      </div>
    </div>
  </div>
</section>
