<section class="hero">
  <div class="container hero__container">
    <div class="hero__block">
      <div class="hero__block-text">
        <h1 class="hero__title">Excel с нуля до PRO</h1>
        <p class="hero__subtitle">
          Поможем освоить табличный редактор, чтобы эффективнее решать рабочие
          задачи
        </p>
        <div class="hero__btns">
          <a href="" class="btn__reset btn btn-blue">Записаться на курс</a>
          <a href="" class="btn__reset btn btn-white">Цены</a>
        </div>
        <div class="hero__info">
          <div class="hero__info1">
            <p class="hero__info--title">Программа курса</p>
            <div class="hero__info--subtitle">8 недель</div>
          </div>
          <div class="hero__info2">
            <p class="hero__info--title">Автор курса</p>
            <div class="hero__info--subtitle">Ишимов Сергей</div>
          </div>
        </div>
      </div>
      <div class="hero__block-img">
        <img
          loading="lazy"
          src="./img/spes.jpg"
          class="image"
          width="450"
          height="450"
          alt=""
        />
      </div>
    </div>
  </div>
</section>
