<div class="graph-modal">
  <div
    class="graph-modal__container"
    role="dialog"
    aria-modal="true"
    data-graph-target="politic"
  >
    <button
      class="btn-reset js-modal-close graph-modal__close"
      aria-label="Закрыть модальное окно"
    ></button>
    <div class="graph-modal__content">
      <h2 class="modal__title">Согласие на обработку персональных данных</h2>
      <p class="modal__text">
        В соответствии с Федеральным законом от 27.07.2006 № 152-ФЗ «О
        персональных данных» (далее – Закон) свободно, своей волей, в своем
        интересе даю согласие (далее – Согласие) ООО «Актив» (ОГРН
        1135906003650, адрес: 614000, ПЕРМСКИЙ КРАЙ, ПЕРМЬ ГОРОД, ПУШКИНА УЛИЦА,
        ДОМ 25, ПОМ. 1-8 ) (далее – Организация), на обработку всех указанных
        мной в настоящей Заявке персональных данных (в том числе: имя, номер
        телефона, адрес электронной почты), которая включает совершение любого
        действия (операции) или совокупности действий (операций) с моими
        персональными данными, включая сбор, запись, систематизацию, хранение,
        использование, уничтожение.
      </p>
      <p class="modal__text">
        Обработка персональных данных осуществляется Организацией на электронных
        носителях.
      </p>
      <p class="modal__text">
        Обработка персональных данных осуществляется в целях предоставления
        Субъекту персональных данных информации об оказываемых Организацией
        услугах, формах и условиях сотрудничества Организации с третьими лицами.
      </p>
      <p class="modal__text">
        Я подтверждаю, что указанные мной в Заявке данные являются достоверными,
        а размещенные персональные данные принадлежат мне.
      </p>
      <p class="modal__text">
        Согласие предоставляется с момента заполнения настоящей Заявки и
        действительно в течение 3 (трех) месяцев.
      </p>
      <p class="modal__text">
        Согласие может быть в любой момент отозвано мною путем предоставления в
        Организацию письменного заявления.
      </p>
    </div>
  </div>
</div>
