<section class="prof">
  <div class="container prof__container sect-padding">
    <div class="prof__block">
      <h2 class="prof__title">Что вас ждёт на курсе</h2>
      <div class="">
        <div class="prof__descr">
          <p class="prof__text">
            <b>Никакой лишней теории:</b> с первого же урока вы начнёте учиться
            автоматизировать свою работу в таблицах.
          </p>
          <p class="prof__text">
            <b>Умный тренажёр:</b> у вас будет самоучитель, в котором можно
            проверить ответы и исправить ошибки.
          </p>
          <p class="prof__text">
            <b>Прикладные навыки:</b> каждый урок — это рабочая задача, которую
            после курса вы сможете решать быстрее.
          </p>
        </div>
        <a href="" class="btn__reset btn btn-blue">Записаться на курс</a>
      </div>
    </div>
  </div>
</section>
