<section class="tarif">
  <div class="container tarif__container sect-padding">
    <h2 class="tarif__title">Выберите тариф</h2>
    <div class="tarif__list">
      <div class="tarif__item">
        <h3 class="tarif__item--title">Базовый</h3>
        <ol class="tarif__item--list">
          <li class="tarif__item--item">Тренажер Excel</li>
          <li class="tarif__item--item">Базовые функции и формулы</li>
          <li class="tarif__item--item">Работа с диаграмами и графиками</li>

          <li class="tarif__item--item">Автоматизация через макросы</li>
        </ol>
        <div class="tarif__block-pay">
          <div class="tarif__price">4 500 ₽</div>
          <a href="" class="btn-reset btn btn-blue">Выбрать</a>
        </div>
      </div>
      <div class="tarif__item">
        <h3 class="tarif__item--title">Оптимальный</h3>
        <ol class="tarif__item--list">
          <li class="tarif__item--item">Google таблицы и возможности</li>
          <li class="tarif__item--item">
            Решение задач с помощью pro-инструментов
          </li>
          <li class="tarif__item--item">Ускоряем работу с помощью скриптов</li>
        </ol>
        <div class="tarif__block-pay">
          <div class="tarif__price">4 500 ₽</div>
          <a href="" class="btn-reset btn btn-blue">Выбрать</a>
        </div>
      </div>
      <div class="tarif__item">
        <h3 class="tarif__item--title">Индивидульный</h3>
        <ol class="tarif__item--list">
          <li class="tarif__item--item">
            Все опции базового и оптимальногоарифа
          </li>
          <li class="tarif__item--item">Персональные консультации</li>
          <li class="tarif__item--item">
            Созвоны и совместная работа с ментором
          </li>
        </ol>
        <div class="tarif__block-pay">
          <div class="tarif__price">4 500 ₽</div>
          <a href="" class="btn-reset btn btn-blue">Выбрать</a>
        </div>
      </div>
    </div>
  </div>
</section>
